<!-- Display a card component-->
<app-card title="Welcome" subtitle="This is a custom card" icon="star">
    <p>This is the content of the card. You can put any HTML here.</p>
</app-card>
<br>
<app-card title="Another Card" subtitle="With a different icon" icon="favorite">
    <p>Here's another example of the card component in use.</p>
</app-card>
<br>
<!-- Highlighting Directive -->
<h1>My App</h1>
<app-example></app-example>
<h1>Click to Highlight</h1>
<p appHighlight>Click me to highlight!</p>
<p appHighlight highlightColor="lightblue">Click me for a custom color!</p>

<!-- src/app/app.component.html -->
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>